@page {
  size: letter portrait;
  margin: 0;
}

:root {
  --main-doc-margin: 30px;
  --heading-color: #444;
  --sub-heading-color: #888;
  --element-spacing: 20px;
  --thin-border-separator: 1px solid gray;
  --thick-border-separator: 2px solid gray;
  --paragraph-line-height: 1.4;
}

body {
  color: var(--heading-color);
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

p {
  margin: 0;
}

ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 8.5in;
  height: 11in;
  margin: 0 auto;
  box-sizing: border-box;
}

.resume {
  display: flex;
  flex-direction: column;
  margin: 0 var(--main-doc-margin);
  height: 100%;
}

.panel {
  margin: var(--element-spacing) 0;
  padding-bottom: var(--element-spacing);
  border-bottom: var(--thin-border-separator);
  font-size: 14px;
}

.panel:last-child {
  border: 0;
}

.panel h1 {
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
}

/* Header name */
header {
  padding: var(--main-doc-margin) 0 calc(var(--main-doc-margin) - 5px);
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-name {
  font-size: 50px;
  font-weight: 800;
}

.header-name .name {
  text-transform: uppercase;
}

.header-title {
  color: var(--sub-heading-color);
}

.header-portfolio {
  font-size: 12px;
  line-height: 2.2;
  margin-top: 6px;
}

.header-portfolio a {
  text-decoration: none;
  color: inherit;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.github-icon {
  background: url("../images/GitHub-Mark-32px.png") no-repeat center center;
  background-size: contain;
}

.codepen-icon {
  background: url("../images/Button-Black-Large.png") no-repeat center center;
  background-size: contain;
}

.web-icon {
  background: url("../images/world-wide-web.png") no-repeat center center;
  background-size: contain;
}

/* show experince and my mission */
.body {
  display: flex;
  flex: 1;
  border-top: var(--thick-border-separator);
  margin-bottom: var(--main-doc-margin);
}

.body-mission p {
  margin: 10px 0;
  line-height: var(--paragraph-line-height);
}

/* Left side */
.left-panel {
  width: 2.5in;
  border-right: var(--thick-border-separator);
}

.left-panel .panel {
  margin-right: var(--element-spacing);
}

.skill-set ul li {
  text-transform: uppercase;
  line-height: 1.8;
}

.contact ul li {
  line-height: var(--paragraph-line-height);
}

/* Education */
.education p {
  line-height: var(--paragraph-line-height);
}

.education-item + .education-item {
  margin-top: var(--element-spacing);
}

.education .year,
.education .location {
  color: var(--sub-heading-color);
}

/* Right side */
.right-panel {
  flex: 1;
}

.right-panel .panel {
  margin-left: var(--element-spacing);
}

/* Experience */
.experience + .experience {
  padding-top: 20px;
}

.experience .company,
.experience .title {
  margin-bottom: 5px;
}

.experience .company {
  font-size: 18px;
}

.experience .title {
  color: var(--sub-heading-color);
}

.experience .description {
  line-height: var(--paragraph-line-height);
}

/* Test colors */
.test.container {
  background: whitesmoke;
}
.test .left-panel {
  background: lightgray;
}
.test .right-panel {
  background: lightblue;
}
